#about{
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color: rgb(255, 0, 0);
}
.about-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: center;
  margin-bottom: 50px;
}
.pic-about{
  width: 500px
}
#but{
  padding: 30px 50px;
  background-color: rgb(255, 0, 212);
  border: none;
  border-radius: 10px;
  font-size: 30px;
}
#but-container{
  text-align: center;
  margin-top: 30px;
}
#but a{
  text-decoration: none ;
  color: rgb(0, 0, 0);
}
body{
  background-color: rgb(189, 189, 189);
}